@model Proyecto.Models.Comentarios

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>Comentario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContenidoComentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContenidoComentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaComentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaComentario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
